doctype html
head
  meta(charset="utf-8")
  title Home
  link(rel="stylesheet", href="css/master.css")
  <script src="https://use.fontawesome.com/525ca23e8d.js"></script>
    
  
body
  section#window.enter-site.flex.flex--center.align-center.columns
    h1 Introuducing the three steps
    
    .lockup.flex.flex--center.align-center.rows
      .button.flex.flex--center.align-center
        span#enter Enter site
      a.menu(href="https://docs.wixstatic.com/ugd/f6c242_e1ae1b31e5e84bbdb837a8a84718f06e.pdf", target="_blank") Menu

  #modal.flex.flex--center.align-center
    .box.flex.flex--center.align-center.columns
      a.pic-row.flex.posr(href="")
        .overlay.posa.flex.flex--center.align-center
          h1 LIVE BANDS
      a.pic-row.flex.posr(href="")
        .overlay.posa.flex.flex--center.align-center
          h1 GARDEN PARTIES
      a.pic-row.flex.posr(href="")
        .overlay.posa.flex.flex--center.align-center
          h1 MYSTIC SHOWS
      a.pic-row.flex.posr(href="")
        .overlay.posa.flex.flex--center.align-center
          h1 COOKOUTS
      span#closer close box
  header.flex.flex--space-around.align-center
    .title-wrap.flex.flex--center.align-center
      h1#toggle THE THREE STEPS
    nav.global.flex.flex--center.align-center
      a(href="") Home
      a(href="") Contact
      a(href="") Help
      a(href="") About
    .icon-wrap.flex.flex--center.align-center
      a(href="") 
        <i class="fa fa-facebook"></i>
      a(href="") 
        <i class="fa fa-twitter"></i>
      a(href="")
         <i class="fa fa-instagram"></i>
  .introduction.flex.flex--center.align-center.columns
    .total.flex.columns.flex--center.align-center
      h5 introducing
      h1 THE THREE STEPS 
      h4 Handcrafted food and beautifully served drinks
      a.menu(href="https://docs.wixstatic.com/ugd/f6c242_e1ae1b31e5e84bbdb837a8a84718f06e.pdf", target="_blank") Menu
  section.outflavours.flex.rows.flex--center.align-center.rows
    .img-holder.posr
      .overlay.posa
    .txt.flex.flex--center.align-center.columns
      h2 Our Flavours!
      h6 Fresh and tasty
      p  At The Three Steps we cook all of our fresh food to order, though this may take a bit longer, <strong>rest assured</strong>, this is because we take extra care with our customers food. 
      a.menu(href="https://docs.wixstatic.com/ugd/f6c242_e1ae1b31e5e84bbdb837a8a84718f06e.pdf",target="_blank") Menu
  section.drinks.flex.flex--center.align-center.columns

    h4 Enjoy our
    h1 ICE COLD DRINKS
    a.menu(href="https://docs.wixstatic.com/ugd/f6c242_e1ae1b31e5e84bbdb837a8a84718f06e.pdf", target="_blank") Menu
  section.garden.flex.rows
    .col-1.flex.flex--center.align-center.columns
      h2 our place & garden
      h6 enjoy our garden
      p  Our garden was developed to extend our in door eatery, our garden is a very popular spot all <strong> year round</strong>, as we have found that most of our customers even when it's cold and dark they love the area so much they would remain in the garden!
      a.button(href="") Read more
    .image-holder
  section.more.flex.flex--center.align-center
    .titler.flex.flex--center.align-center.columns
      h3 Catering and more 
      h1 Events 
      span#more.more VIEW EVENTS
  section.footer.flex.flex--start.align-start.rows
    .col.flex.flex--start.align-start.columns
      h1 OPENING HOURS
      P <strong>MONDAY to WEDNESDAY</strong>
      p 12pm - 12.30am
      p <strong>THURSDAY - SATURDAY</strong>
      p 12pm - 1.30am
      p <strong>SUNDAY</strong>
      p 12am-12.30pm
    .col.flex.flex--start.align-start.columns
      h1 ADDRESS
      P HIGH STREET COWLEY
      P UXBRIDGE
      P UB8 2DX
      P LONDON
      P T: 01895 234692
      P E: info@thethreesteps.co.uk


  
  footer.designedBy.flex.flex--center.align-center
    h4 Developed by <a href="http://vyco.co.uk" target="_blank"><span class="logo">vyco</span></a>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  script(type="text/javascript", src="js/script.js").
      
  
